@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}

html{
    background: rgb(255 152 0 / 57%);
    background: black;
}

body{
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin: 0 auto;
   color: rgb(0 0 0 / 78%);
   background: linear-gradient(60deg, rgba(240, 254, 255, 0.6), rgba(240, 254, 255, 0.8), rgb(240 254 255 / 70%), rgb(240 254 255 / 60%), rgb(240 254 255 / 60%), rgb(240 254 255 / 60%), rgb(240 254 255 / 60%), rgb(223 203 157 / 70%), rgb(234 178 39));
}

/* /// Every Ul element //// */
ul{
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0;
    height: 100%;
}


/* ////////////////////////////////// Navigation //////////////////////////////////////// */
header{
    background: rgb(236 197 108 / 80%);
    padding: .2% 1.2%;
    height: 8%;
    /* height: 70px; */
    border-radius: 0 0 5px 5px;
    display: flex;
    background: dimgray;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#logo{
    background: url(../images/Logo/logo.png);
    background-repeat: round;
    height: 100%;
    width: 13%;
    max-width: 255px;
    min-width: 140px;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1;
}

#logo > a {
    height: 100%;   
    width: 100%;
}

nav > h1 {
    margin: 0;
}

.Link {
    text-decoration: none;
    color: black;
}

.Link:hover{
    text-decoration: underline;
    color: white;
}

.Link:visited{
    scroll-behavior: smooth;
}

/* /// Toggle //// */
#toggle{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.switch {
position: relative;
display: inline-block;
height: 10px;
width: 20px;
transform: rotate(90deg);
display: flex;
}

.switch input { 
opacity: 0;
width: 0;
height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: gold;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 10px;
width: 10px;
left: 1px;
right: 1px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(12px);
-ms-transform: translateX(12px);
transform: translateX(12px);
}

.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

.fa-sun{
    color: gold;
}

.fa-moon{
    color: #2196F3;;
}


/* ////////////////////////////////// Main //////////////////////////////////////// */

main{
    height: 93%;
    overflow: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

main::-webkit-scrollbar {
    display: none;
}

#main-div{
    width: 80vw;
    max-width: 1630px;
    margin: 0 auto;
    overflow: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#main-div::-webkit-scrollbar {
    display: none;
}

#Hero{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Hero > img {
    height: 60%;
    width: 100%;
    /* max-width: 1470px; */
}

#Hero > h1 {
    font-size: 5rem;
    /* font-family: sans-serif; */
    line-height: 0.9;
    text-align: center;
}

#Hero > h3 {
    font-size: 2rem;
    /* font-family: serif; */
    font-style: italic;
    line-height: 0.9;
    text-align: center;
}

article{
    display: flex;
    margin: 0 auto;
    padding: 2% 0;
}

#About{
    height: 100vh;
    align-items: center;
    padding: 0;
    gap: 10%;
}

#About-img {
    background: url(../images/A881DD38-7689-4ECB-9DA3-D26DFEB03838_1_105_c.jpeg);
    height: 47vh;
    width: 30vw;
    max-width: 570px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

#About > div:nth-child(2) {
    height: 47vh;
}

#About-description {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#About-description::-webkit-scrollbar {
    display: none;
}

#About > div > h1 {
    font-size: 3rem;
    /* font-family: sans-serif; */
    margin-top: 0;
}

#About-description > p {
    font-size: 2rem;
    margin: 0;
    text-indent: 10px;
}

#skills {
    height: fit-content;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 15px 0;
}

#skills > li {
    border-right: solid;
    padding-right: 10px;
    font-size: larger;
    font-weight: 800;
}

#Projects > h2 {
    font-size: 3rem;   
    /* font-family: sans-serif; */
    padding-left: 5%;
}

.my-projects{
    width: 90%;
}

#GH-picture{
    background: url(../images/GH/GH1.png);
    background-repeat: round;
}

#RS-picture{
    background: url(../images/RFD/RFD1.png);
    background-repeat: round;
}

#WV-picture{
    background: url(../images/WOV/WOV1.png);
    background-repeat: round;
}

article > div {
    flex: 1;
    /* border: solid black; */
    border-radius: 10px 0 0 10px;
}

.game-description{
    flex: 2;
    border-left: none;
    border-radius: 0 10px 10px 0;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 320px;
    background: rgb(255 255 255 / 70%);
    overflow: auto;
    padding: 2px 15px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.game-description::-webkit-scrollbar {
    display: none;
}

.game-description > h1 {
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 5px;
}

.game-description > p{
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-top: 5px;
    padding: 0 1%;
    text-indent: 2%;
    line-height: 1.2em;
    text-align: justify;
}

#GH{
    font-size: 3rem;
    color: #007bff;
}

#RFT{
    font-size: 3rem;
    color: #f2782f;
}

#WOV{
    font-size: 3rem;
    color: red;
}

.tech{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 0 5px 0;
}

.tech > div {
    position: relative;
}

.tech > div > p {
    display: none;
    margin: 0;
    transition: .2s;
    height: 150%;
    width: 110%;
    align-items: center;
    justify-content: center;
}

.tech > div:hover > p {
    display: flex;
    position: absolute;
    bottom: 20px;
    z-index: 2;
    transition: .1s;
}

/* /// Tech icons //// */
.html{
    color: crimson;
}

.css3{
    color: cornflowerblue;
}

.js-sq{
    color: goldenrod;    
}

.mdb{
    color: forestgreen;
}

.react{
    color: aqua;
}

.node{
    color: darkorange;
}

.bootstrap{
    color: darkorchid;
}
.google{
    color: lightblue;
}

/* /// Project icons //// */
#unit3:hover{
    color: #007bff;
}

#unit4:hover{
    color: #f2782f;
}

#unit1:hover{
    color: red;
}


/* ////////////////////////////////// Footer //////////////////////////////////////// */

footer{
    background: rgb(87 96 109 / 30%);
    background: rgb(238 235 224 / 30%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2% 1.2%;
    height: 5%;
    height: 32px;
    border-radius: 5px 5px 0 0;
    gap: 25px;
}

footer > p {
    margin: 0;
}

.icon{
    color: black;
    transition: .3s;
}

.icon:hover{
    color: rgb(96, 93, 93);
    transition: .3s;
}

#linkedin:hover{
    color: cornflowerblue;
}

#twiter:hover{
    color: cadetblue;
}

.darkmode-links{
    color: white;
}
.darkmode-links:hover{
    color: black;
}

.darkmode-icons{
    color: white;
}

.darkmode-icons:hover{
    color: rgb(188, 187, 187);
}

.transition-effect{
    transition: 1s;
}


@media (min-width: 360px){
    header{
        height: 8%;
    }
    #logo{
        height: 80%;
    }
    .nav-footer-ul{
        font-size: 0.7em;
    }
    #Hero > h1{
        font-size: 2em;
    }
    #Hero > h3{
        font-size: 1.17em;
    }
    #main-div{
        width: 90vw;
    }
    #About-img {
        height: 27vh;
    }
    #About > div > h1 {
        font-size: 1.5em;
    }
    #About-description {
        height: 100%;
    }
    #About-description > p {
        font-size: 1em;
    }
    #skills > li {
        font-size: 1em;
    }
    #Projects > h2 {
        font-size: 2em;
    }
    .my-projects {
        flex-direction: column;
        width: 100%;
    }
    .my-projects > div {
        flex: none;
    }
    .my-projects > div:nth-of-type(1){
        height: 200px;
        border-radius: 10px 10px 0 0;
    }
    .game-description {
        height: 300px;
        border-radius: 0 0 10px 10px;
    }
    .game-description > h1 {
        font-size: 1.5em;
        margin-top: 5px;
    }
    .game-description > p {
        font-size: 1em;
    }
    #GH{
        font-size: 1.5em;
    }
    #RFT{
        font-size: 1.5em;
    }
    #WOV{
        font-size: 1.5em;
    }
    .tech {
        padding: 10px 0 5px 0;
    }
}

@media (min-width: 768px){

}

@media (min-width: 992px){

}

@media(min-width: 1200px){
    header{
        height: 70px;
    }
    #logo{
        height: 100%;
    }
    .nav-footer-ul{
        font-size: 1em;
    }
    #Hero > h1{
        font-size: 5em;
    }
    #Hero > h3{
        font-size: 2em;
    }
    #main-div{
        width: 80vw;
    }
    #About-img {
        height: 47vh;
    }
    #About > div > h1 {
        font-size: 3em;
    }
    #About-description > p {
        font-size: 2em;
    }
    #skills > li {
        font-size: larger;
    }
    #Projects > h2 {
        font-size: 3em;
    }
    .my-projects {
        flex-direction: row;
        width: 90%;
    }
    .my-projects > div {
        flex: 1;
    }
    .my-projects > div:nth-of-type(1){
        height: 324px;
        border-radius: 10px 0 0 10px;
    }
    .my-projects > .game-description {
        height: 320px;
        border-radius: 0 10px 10px 0;
        flex: 2;
    }
    .game-description > h1 {
        font-size: 2em;
        margin-top: 10px;
    }
    .game-description > p {
        font-size: 1.5em;
    }
    #GH{
        font-size: 3rem;
    }
    
    #RFT{
        font-size: 3rem;
    }
    
    #WOV{
        font-size: 3rem;
    }
    .tech {
        padding: 20px 0 5px 0;
    }
}
